---
import Layout from '../layouts/Layout.astro';
import Inicio from "../components/Inicio.astro"
import Parents from "../components/Parents.astro"
import CuentaAtras from "../components/CuentaAtras.astro"
import Localidad from '../components/Localidad.astro';
import Confirmacion from "../components/Confirmacion.astro"
---

<Layout title="Boda Estani y Shefferson">
	<main>		
		<Inicio />
		<Parents />
		<CuentaAtras />
		<Localidad />
		<Confirmacion />
	</main>	
</Layout>






