---
---
<div class="container m-auto w-full h-4 bg-main mt-24 rounded-xl"></div>

<div class="container m-auto grid place-content-center">
    <img src="/img/last.webp" alt="Novios Abrazados sonriendo" class="filtro ">
</div>

<div class="container m-auto w-full h-4 bg-main mt-12 rounded-xl"></div>
<div class="container m-auto w-full h-4 bg-main mt-6 rounded-xl"></div>

<div class="container m-auto grid md:auto-cols-2 md:grid-flow-col gap-5 mt-12">

    <div class="flex flex-col justify-center items-center bg-main rounded-xl sm:h-[30vh] col-span-1 md:h-[50vh] lg:h-[70vh]">
        <p class="name lg:text-4xl md:text-2xl w-[80%] text-white sm:text-xl">
            Confirma tu asistencia a nuestra Boda, a traves de este enlace!!!
        </p>
        <a href="https://wa.me/+584247244914?text=¡Hola!+😊+Solo+quería+confirmar+mi+asistencia+al+evento.+Estoy+muy+emocionado/a+y+espero+con+ansias+el+día.+¡Nos+vemos+pronto!+Saludos." class="w-[80%] md:h-16 sm:h-8 bg-white rounded-full text-main flex justify-center items-center lg:text-2xl md:text-lg sm:text-base uppercase text-bold mt-8" target="_blank"> 
            <span>
                Confirmar Asistencia  
            </span>
        </a>
    </div>

    <div class="col-span-1 w-full flex flex-wrap justify-center items-center">
        <div class="w-2/3">
            <p class="name lg:text-5xl md:text-4xl leading-tight sm:text-xl">" Hay momentos en la Vida que son especiales por si solos, pero compartirlos con las personas que queremos las hacen<p class="underline decoration-main name lg:text-6xl md:text-4xl sm:text-xl">inolvidables.</p> 
            
        </div>
    </div>
</div>

<div class="container m-auto grid place-content-center">
    <img src="/img/descalsos.webp" alt="Novios Abrazados sonriendo" class="filtro ">
</div>

<div class="flex max-w-full rotate-180">
    <img src="/img/flor.webp" alt="" class="lg:h-52 sm:block lg:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:block xl:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:hidden xl:block xxl:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:hidden xl:hidden xxl:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:hidden xl:block xxl:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:hidden xl:hidden xxl:block">
        <img src="/img/flor.webp" alt="" class="lg:h-52 sm:hidden lg:hidden xl:hidden xxl:block">
</div>



<style>
    .filtro{
        mask-image: linear-gradient(black 80%, transparent)
    }

    .name{
        font-family: 'Lobster', system-ui;
    }
</style>