---

---
<div class="container m-auto w-full mt-12">
  <p class="name lg:text-4xl flex items-center justify-center mt-8 font-extrabold uppercase ">Diciembre</p>
</div>

<div class="grid auto-cols-5 grid-flow-col gap-5 text-center container m-auto mt-12">

  <div class="col-span-2">
    <div class="flex flex-col items-center justify-center gap-4">
      <span class="bg-main w-full h-2 rounded-lg"></span>
      <p class="md:text-4xl font-bold text-xl ">Sabado</p>
      <span class="bg-main w-full h-2 rounded-lg"></span>
    </div>
  </div>

  <div class="col-span-1">
    <div class="flex flex-col items-center justify-center gap-4">
      <p class="text-4xl font-bold ">14</p>
      <span class="name ">2024</span>
    </div>
  </div>

  <div class="col-span-2">
    <div class="flex flex-col items-center justify-center gap-4">
      <span class="bg-main w-full h-2 rounded-lg"></span>
      <p class="md:text-4xl text-xl font-bold ">6:00 P.M</p>
      <span class="bg-main w-full h-2 rounded-lg"></span>
    </div>
  </div>
</div>

<div id="countdown" class="grid auto-cols-4 grid-flow-col gap-5 text-center container m-auto mt-16">
    <div id="days" class="flex flex-col items-center justify-center col-span-1 w-full md:h-40 h-32 bg-main rounded-xl text-bold md:text-4xl sombra name"></div>
    <div id="hours" class="flex flex-col items-center justify-center col-span-1 w-full md:h-40 h-32 bg-main rounded-xl text-bold md:text-4xl  sombra name"></div>
    <div id="minutes" class="flex flex-col items-center justify-center col-span-1 w-full md:h-40 h-32 bg-main rounded-xl text-bold md:text-4xl  sombra name"></div>
    <div id="seconds" class="flex flex-col items-center justify-center col-span-1 w-full md:h-40 h-32 bg-main rounded-xl text-bold md:text-4xl  sombra name"></div>
</div>

<div class="container m-auto mb-16">
    <img src="/img/teffy.webp" alt="Novios abrazdos" class="filtro">
</div>

<div class="container m-auto w-full h-4 bg-main mt-6 rounded-xl"></div>


<script>
  function updateCountdown() {
    const weddingDate = new Date('2024-12-14T22:00:00'); // Cambia esta fecha a la de tu boda
    const now = new Date();
    const timeDifference = weddingDate.getTime() - now.getTime(); // Convertimos las fechas a milisegundos

    const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

    document.getElementById('days').innerText = `${days} Días`;
    document.getElementById('hours').innerText = `${hours} Horas`;
    document.getElementById('minutes').innerText = `${minutes} Min`;
    document.getElementById('seconds').innerText = `${seconds} Seg`;
  }

  setInterval(updateCountdown, 1000);
</script>

<style>
    .sombra{
        box-shadow: 5px 2px 6px -2px rgba(0, 0, 0, 1);
    }
    .name{
        font-family: 'satisfy', system-ui;
    }
    .filtro{
        mask-image: linear-gradient(black 80%, transparent)
    }  
</style>
