---

---
<div class="container w-full grid md:auto-cols-2 md:grid-flow-col m-auto gap-5 mt-16">

    <div class="col-span-1">
        <img src="/img/location.webp" alt="Novio besando la frente de la novia" class="filtro">
    </div>

    <div class="col-span-1 bg-main rounded-xl lg:h-[80vh] sm:h-[80vh] md:h-[80vh]">
        
        <div class="flex flex-col justify-center items-center mt-8"> 
            <p class="text-white lg:text-6xl md:text-4xl sm:text-3xl name">
                Lugar
            </p>

            <div class="mt-16 flex flex-col text-wrap w-2/3">
                <p class="text-bold lg:text-4xl md:text-4xl sm:text-2xl text-white name">Ceremonia</p>
                <span class="md:text-xl sm:text-xl text-white">Basílica Menor Santa Lucía de Timotes</span>
                    <a href="https://www.google.es/maps/place/Iglesia+de+Santa+Lucia/@8.9833132,-70.7403346,19.96z/data=!4m14!1m7!3m6!1s0x8e6340ddfb00ceaf:0xfd91840360ba5b38!2sIglesia+de+Santa+Lucia!8m2!3d8.983425!4d-70.7400942!16s%2Fg%2F1yfdpfm6y!3m5!1s0x8e6340ddfb00ceaf:0xfd91840360ba5b38!8m2!3d8.983425!4d-70.7400942!16s%2Fg%2F1yfdpfm6y?entry=ttu&g_ep=EgoyMDI0MTExOS4yIKXMDSoASAFQAw%3D%3D" class="w-full md:h-16 sm:h-8 bg-white rounded-full text-main flex justify-center items-center text-2xl uppercase text-bold mt-8" target="_blank"> 
                    <span>
                        Ver Mapa  
                    </span>
                </a>
            </div>

            <div class="mt-16 flex flex-col text-wrap w-2/3">
                <p class="text-bold text-white name lg:text-4xl md:text-2xl sm:text-2xl">Recepción</p>
                <span class="md:text-xl sm:text-xl text-white">Calle Carnevalli, entre avenidas Guaicaipuro y Bolivar. Galpón Rigo Briceño, sector Punta Brava</span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .filtro{
        mask-image: linear-gradient(black 80%, transparent)
    }
    .name{
        font-family: 'satisfy', system-ui;
    }
</style>