---
---
<div class=" flex w-full h-32 bg-main items-center justify-center mt-16 m-auto">
    <p class="lg:text-5xl md:text-3xl sm:text-xl name text-wrap text-center ">Con la Bendición del Señor y nuestros padres</p>
</div>

<div class="container px-4 py-4 mx-auto items-center grid grid-cols-5 grid-rows-2 mt-8">

    <div class="col-span-2">
            
                <p class="name lg:text-4xl sm:mb-4 md:text-xl sm:text-sm">Elio Alexander Ramírez</p>
                <p class="name lg:text-4xl md:text-xl sm:text-sm">Sharika Andreina Briceño Briceño</p>
    </div>

        <div class="col-span-1 ">
            <div class="flex md:flex-col md:m-16 sm:m-2">
                <img src="/img/corazon.webp" alt="corazon" class="w-10">
            </div>
        </div>

        <div class="col-span-2"> 
                <p class="name lg:text-4xl sm:mb-4 md:text-xl sm:text-sm">
                    Alvaro José Briceño Baptista
                </p>
                <p class="name lg:text-4xl md:text-xl sm:text-sm">
                    Elizabeth Marina Angél Garcia
                </p>                 
        </div>
    
        
        <div class="col-span-5 items-center lg:pr-24 lg:mt-4">
            <img src="/img/ornamento.webp" alt="ornamento" class="h-36 w-full items-center object-cover">
        </div>

    </div>
    <div class="container m-auto w-2/3 text-center">
        <p class="lg:text-6xl md:text-4xl sm:text-2xl name">
            Queremos que nos acompañes a recibir el sacramento del matrimonio.
        </p>

    </div>


<style>
    .name{
        font-family: 'satisfy', system-ui;
    }
</style>